.no-webp .imagen-canal  {
      background-image: url("/build/img/pro2.jpg");

}
.webp .imagen-canal  {
          background-image: url("/build/img/pro2.webp");


}

.imagen-canal {
    background-position: center center;
    background-size: cover;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    margin:0;
}
h1{
    font-weight: $regular;
    text-transform: uppercase;

}
.texto {
    
    border: 1px solid $amarillo;
    border-radius: 1rem;
    font-weight: $regular;
}
.table-bordered{
    border-radius: 2rem;
    border: 1px solid $amarillo;

    th {
        background-color: antiquewhite;
        text-transform: uppercase;
        
    }
    
}
.imagen2{
   
    display: flex;
    border: 1px solid $amarillo;
    border-radius: 1rem;
    height: 30rem;
    width: 40rem;
    justify-content: center;
    align-items: center;
    overflow: hidden;
   
    
    
}

