.no-webp .imagen-contacto  {
      background-image: url("/build/img/03.jpeg");

}
.webp .imagen-contacto  {
     background-image: url("/build/img/03.webp");


}

.imagen-contacto {
    background-position: center center;
    background-size: cover;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
}

.formulario {
    legend{
        font-size: 2rem;
        color: $amarillo;
    }
    
    label {
        font-weight: $bold;
        text-transform: uppercase;
        display: block;
    }

    input:not([type="submit"]) {
        padding: 1rem;
        display: block;
        width: 100%;
        background-color: $blanco;
        border: 1px solid $amarillo;
        border-radius: 1rem;
    }
}

