
// archivo: src/scss/pages/_planes.scss

.imagen-consulta {
  background-image: url("../img/05.webp");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  text-transform: uppercase;
  border-radius: 1rem;
  border: 1px solid $grisOscuro;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // Mobile
  height: 20rem;

  @include tablet {
    height: 40rem;
  }

  @include desktop {
    height: 55rem;
  }
}
