// _header.scss
.header {
  background-color: $negro;
  &.inicio {
    background-image: url("../img/header.jpeg");
    background-position: center center;
    background-size: cover;


    // Mobile
    min-height: 30rem;

    @include tablet {
      min-height: 50rem;
    }

    @include desktop {
    
      min-height: 70rem;
    }
  }
}