.no-webp .imagen-planes  {
      background-image: url("../img/02.jpeg");

}
.webp .imagen-planes  {
          background-image: url("../img/02.webp");


}

.imagen-planes {
    background-position: center center;
    background-size: cover;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-radius: 1rem;
    border: 1px solid $grisOscuro;
    
    
}
