@include tablet {
    .contenedor-servicios{
        @include grid(3, 2rem);
    }
}

.servicio {
    background-color: $gris;
    border: 1px solid $grisOscuro;
    border-radius: 2rem;
    margin-bottom: 2rem;

    .contenedor-servicios{
        padding: 2rem;
    }
}
p {
    padding: 0 2rem 2rem;
    text-align: justify;
    font-size: 2.4rem;
   
}

h3 {
        text-align: center;
        text-transform: uppercase;
        font-weight: $bold;
        
    }
.iconos-caracteristicas {
    display: flex;
    list-style: none;
    padding: 0;
    
    li {
        flex: 1;
        display: flex;

        img {
        margin: 0 auto;
        width: 12rem;
        }

    }
    
}
